_report_data/session-events.jsonl
_wordlists/dictionary.txt
_wordlists/nwl2023.txt
_wordlists/valid-wordle-words-dracos.txt
_wordlists/wordle-answers-alphabetical.txt
_wordlists/wordle_targets.txt
_wordlists/wordnik.txt
